html, body
{
	margin: 0;
	border: 0;
	height: 100%;
	background-color: #dddddd;
}

body
{
	font-family: Roboto, sans-serif;
}

navigation
{
	line-height: 100px;
	position: fixed;
	z-index: 1;
	background-color: #ffffff;
	width: 100%;
	min-width: 700px;
	box-shadow: 0px 0px 20px rgba(0,0,0,.125);
}

.center
{
	margin: auto;
	width: 60%;
	min-width: 700px;
}

header
{
	color: #04c3eb;
	float: left;
	font-size: 1.4em;
}

nav
{
	color: #ffffff;
	text-align: right;
	float: right;
}

#logo
{
	vertical-align: top;
	padding-top: 12px;
	margin-right: 20px;
}

button
{
	padding: 0;
	cursor: pointer;
	border: none;
	display: inline-block;
	background-color: Transparent;
}

navigation label
{
	line-height: 50px;
	text-align: center;
	min-width: 140px;
	height: 50px;
	text-decoration: none;
	border-radius: 10px;
	cursor: pointer;
	border: none;
	padding: 0;
	margin-left: 10px;
	display: inline-block;
}

navigation label:hover
{
	box-shadow: 3px 4px 0px #dddddd;
}

#buttonImport
{
	background-color: #06e36f;
}

#buttonExport
{
	background-color: #04c3eb;
}

input[type="file"]
{
    display: none;
}

input[type="text"]
{
	font-weight: bold;
	background-color: Transparent;
	border: none;
}

input[type="text"]:focus
{
	background-color: #eeeeee;
	border:1px solid #5AB0DB;
}

species-info input[type="text"]
{
	font-weight: normal;
}

navigation md-icon
{
	fill: #ffffff;
}

content md-icon
{
	fill: #000000;
}

ul
{
	list-style: none;
}

#contentInner
{
	padding: 150px 18% 50px 18%;
}

button:hover md-icon
{
	fill: #04c3eb;
}

button:hover
{
	color: #04c3eb;
}

button[disabled] md-icon
{
	fill: #c8c8c8;
}

.buttonCreate, .buttonRemove
{
	font-size: .8em;
	margin-left: 10px;
	font-weight: bold;
}

.buttonCreate
{
	color: #1ac36a;
}

.buttonCreate md-icon
{
	fill: #1ac36a;
}

.buttonRemove
{
	color: #ef5353;
}

.buttonRemove md-icon
{
	fill: #ef5353;
}

species-info img
{
	height: 100px;
	border: 4px solid #ffffff;
	margin-top: 4px;
}

.details
{
	background-color: #e9e9e9;
	margin-left: 30px;
	font-size: .9em;
	padding: 5px 15px 5px 10px;
}

.details:hover
{
	background-color: #efefef;
}

.wideInput
{
	width: 100%;
	background-color: #ffffff !important;
}