Editor ul {
	list-style: none;
}

Editor h3 {
	color: #000;
	background: none;
	font-weight: 500 !important;
	margin: 0;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
	font-family: "Linux Libertine", Georgia, Times, serif;
	line-height: 1.3;
	margin-bottom: 0.25em;
	padding: 0;
	font-size: 1.5em;
	margin-top: 1em;
}

Editor h4 {
	color: #000;
	background: none;
	font-weight: 500 !important;
	margin: 0;
	overflow: hidden;
	border-bottom: 1px solid #aaa;
	font-family: "Linux Libertine", Georgia, Times, serif;
	line-height: 1.3;
	margin-bottom: 0.25em;
	padding: 0;
	font-size: 1.5em;
	margin-top: 1em;
}

Editor button {
	background-color: #f8f9fa;
	color: #222;
	border: 1px solid #9aa0a7;
}

Editor button:hover {
	background-color: #fff;
	color: #444;
	border-color: #a2a9b1;
}

image-modal button{
	background-color: #f8f9fa;
	color: #222;
	border: 1px solid #9aa0a7
}

image-modal button:hover {
	background-color: #fff;
	color: #444;
	border-color: #a2a9b1;
}

.wegSectionContainer {
	background-color: #fbfbfb;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	padding: 1em;
	margin: 1em;
	display: inline-block;
	/*		background-image: url("/mediawiki-1.28.0/images/f/fa/Tier1-white.png");*/
}

.wegSectionContainer:hover {
	outline: -webkit-focus-ring-color auto 5px;
    outline-color: -webkit-focus-ring-color;
    outline-style: auto;
    outline-width: 5px; 
}

.wegSectionContainer input[type="text"] {
	font-size: 1.5em;
	font-weight: bold;
}

.wegSectionContainer label {
	margin: 0 1em;
}

.wegPropertyContainer {
	padding: .5em;
	margin: 0 .5em .5em 2em;
}

.wegPropertyContainer p {
	display: inline-block;
	margin: 0 1em;
	font-weight: bold;
}

.wegPropertyContainer input[type="text"] {
	max-height: 1.3em;
	font-size: 1em;
	font-weight: normal;
}

.wegPropertyContainer textarea {
	margin-right: 1em;
	min-height: 3.5em;
	min-width: 30em;
}

.wegPropertyContainer button {
	max-height:1.4em;
}
.wegPropertyContainer li {
	padding: .5em;
	display: flex;
}

.wegSubsectionContainer {
	border: 2px solid #c3c3c3;
	background-color: #fbfbfb;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	padding: 1em;
}

.wegSubsectionContainer .wegSectionContainer {
	background-color: #f2f2f2;
}

.wegSubsectionContainer input[type="text"] {
	font-size: 1em;
	font-weight: normal;
}

.wegSectionUl {
/*	display: flex;*/
	flex-wrap: wrap;
}

.wegSectionUl .wegSectionUl {
	display: block;
	flex-wrap: nowrap;
}

.wegSectionLi {
	margin-right: auto;
}

#tierList {
	display: inline-flex;
	flex-wrap: wrap;
}

#tierList li {
	margin-right: 1em;
	text-align: center;
}

.tierSwitch {}

.tierIconContainer {
	width: 39px;
	height: 36px;
	background-color: buttonface;
	/*	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
	cursor: default;
	color: buttontext;
	background-color: buttonface;
	/*    border-width: 2px;*/
	/*    border-style: outset;*/
	border-color: buttonface;
	border-image: initial;
	border-radius: 2px;
	padding: .3em .3em .35em .3em;
	-webkit-transition: .4s;
	transition: .4s;
}

.tierIcon {
	background-image: url("/mediawiki-1.28.0/images/f/fa/Tier1-white.png");
	width: 39px;
	height: 36px;
	background-size: cover;
	-webkit-filter: invert(50%);
	-webkit-transition: .4s;
	opacity: 0.5;
}

.tierIcon2 {
	background-image: url("/mediawiki-1.28.0/images/0/03/Tier2-white.png") !important;
}

.tierIcon3 {
	background-image: url("/mediawiki-1.28.0/images/3/34/Tier3-white.png") !important;
}

.tierIcon4 {
	background-image: url("/mediawiki-1.28.0/images/8/86/Tier4-white.png") !important;
}

input:hover + .tierIconContainer {
	box-shadow: 0 0 5px #2196F3;
}

.tierSwitch input {
	display: none;
}

input:checked + .tierIconContainer {
	background-color: #2196F3;
	box-shadow: 0 0 5px #2196F3;
}

input:checked + .tierIconContainer > .tierIcon {
	-webkit-filter: invert(0%);
	opacity: 1;
}

input:focus + .tierIconContainer {
	box-shadow: 0 0 5px #2196F3;
}

#listWegCategoryContainer {
	margin-bottom: 1em;
	margin-top: 1em;
}

#listWegCategoryContainer button {
	margin-right: .3em;
}

#listWegCategoryContainer input {
	margin-right: .3em;
}
.modal {
	position: fixed;
    z-index: 999999999999999999999999999999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.7);
	-webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.modalClose {
	opacity: 0;
	 -webkit-transform: scale(0);
    transform: scale(0);
}

.modalOpen {
	opacity: 1;
	 -webkit-transform: scale(1);
    transform: scale(1);
}
.modalContent {
	background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: 25%;
	max-width: 50%;
	opacity: 1;
	transition: opacity 250ms;
	position: relative;
	display: table;
	-webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.modalMenuLayout {
	width: auto;
	position: absolute;
	left: 0;
    top: 0;
    right: 0;
	margin: 1em;
}

.modalContent > button {
	position: absolute;
    top: 0;
    right: 0;
}

.searchImageLi {
	display: inline-block;
	
}

.searchImage {
	max-width: 250px;
	
}